
@font-face {
    font-family: 'Oduda';
    font-style: normal;
    font-weight: bold;
    src: url(Oduda-Bold.otf);
}

* {
    min-width: 0px;
    min-height: 0px;
    box-sizing: border-box;
    word-break: break-word;
}

body {
    --bgHue: 300;
    --bgSat: 90%;
    --bezier: cubic-bezier(0.1, 0.3, 0.3, 1);
    font-family: 'Comfortaa', sans-serif;
}

p {
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 1.4;
}
p:not(:last-child) {
    margin-bottom: 0.6em;
}

#background, #backgroundOverlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#background {
    background: linear-gradient(90deg, hsl(var(--bgHue), var(--bgSat), 90%), hsl(var(--bgHue), var(--bgSat), 94%));
}
#backgroundOverlay {
    background: linear-gradient(180deg, transparent, hsl(var(--bgHue), var(--bgSat), 98%))
}

#main {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    opacity: 0;
}
#main.visible {
    opacity: 1;
}

#mainRow {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
}
#mobileNavRow {
    display: none;
    width: 100%;
    justify-content: space-evenly;
    gap: 20px;
    flex-shrink: 0;
}

.navBtn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: white;
    border: none;
    outline: none;
    font-family: 'Material Symbols Outlined Rounded';
    font-size: 32px;
    color: black;
    filter:
        drop-shadow(0px 3px 4px hsla(var(--bgHue), var(--bgSat), 20%, 20%))
        drop-shadow(0px 6px 8px hsla(var(--bgHue), var(--bgSat), 20%, 10%));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    transition: 0.2s var(--bezier);
    transition-property: background, color, filter, transform;
    cursor: pointer;
    flex-shrink: 0;
    user-select: none;
    z-index: 2;
}
.navBtn:hover:not(:active),
.navBtn.active {
    background: hsl(var(--bgHue), var(--bgSat), 90%);
    color: hsl(var(--bgHue), var(--bgSat), 30%);
    filter:
        drop-shadow(0px 3px 4px hsla(var(--bgHue), var(--bgSat), 30%, 20%))
        drop-shadow(0px 6px 8px hsla(var(--bgHue), var(--bgSat), 30%, 10%))
        drop-shadow(0px 12px 16px hsla(var(--bgHue), var(--bgSat), 30%, 10%));
    transform: scale(1.2);
}

#cards {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    height: 100%;
}

.card, #head {
    max-width: 100%;
    max-height: 100%;
    opacity: 0;
    display: none;
    transform: scale(0.8);
    position: absolute;
}
.card.next, #head.next {
    transform: translateX(50%) rotate(3deg) scale(0.8);
}
.card.prev, #head.prev {
    transform: translateX(-50%) rotate(-3deg) scale(0.8);
}
.card.exists,
#head.exists {
    display: flex;
    transition: 0.2s var(--bezier);
}
.card.active,
#head.active {
    opacity: 1;
    transform: none;
}
.card {
    padding: 10px;
    flex-direction: column;
    overflow: hidden;
    background: white;
    filter:
        drop-shadow(0px 12px 16px hsla(var(--bgHue), var(--bgSat), 20%, 20%))
        drop-shadow(0px 24px 32px hsla(var(--bgHue), var(--bgSat), 20%, 10%));
    border-radius: 20px;
}
.card .heading {
    padding: 10px 20px;
    padding-top: 12px;
    border-radius: 10px;
    background: hsl(var(--bgHue), var(--bgSat), 95%);
    font-family: 'Comfortaa';
    font-size: 20px;
    font-weight: bold;
    color: hsl(var(--bgHue), var(--bgSat), 20%);
    z-index: 1;
    flex-shrink: 0;
}
.card .body {
    margin-top: 10px;
    padding: 10px;
    max-height: 700px;
    min-height: 0px;
    overflow: auto;
}

#head {
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.subhead {
    line-height: 1.1;
    font-family: 'Oduda';
    font-size: 36px;
    color: hsl(var(--bgHue), var(--bgSat), 98%);
    filter:
        drop-shadow(0px 3px 4px hsla(var(--bgHue), var(--bgSat), 20%, 20%))
        drop-shadow(0px 6px 8px hsla(var(--bgHue), var(--bgSat), 20%, 10%))
        drop-shadow(0px 12px 16px hsla(var(--bgHue), var(--bgSat), 20%, 10%));
}
#name {
    line-height: 1;
    margin-top: -10px;
    margin-bottom: 25px;
    font-family: 'Oduda';
    font-size: 130px;
    color: hsl(var(--bgHue), var(--bgSat), 90%);
    filter:
        drop-shadow(0px 3px 4px hsla(var(--bgHue), var(--bgSat), 30%, 20%))
        drop-shadow(0px 12px 16px hsla(var(--bgHue), var(--bgSat), 30%, 20%))
        drop-shadow(0px 36px 64px hsla(var(--bgHue), var(--bgSat), 30%, 10%))
        drop-shadow(0px 72px 96px hsla(var(--bgHue), var(--bgSat), 30%, 10%));
}

#projectsCont {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 20px;
}
#projectsCont .project {
    border-radius: 10px;
    background: white;
    display: flex;
    align-items: center;
    gap: 15px;
}
#projectsCont .project > .icon {
    align-self: flex-start;
    flex-shrink: 0;
    font-family: 'Material Symbols Outlined Rounded';
    font-size: 36px;
    color: hsl(var(--bgHue), var(--bgSat), 40%);
    user-select: none;
}
#projectsCont .project > .contentCont {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}
#projectsCont .project > .contentCont .content {
    flex-grow: 1;
}
#projectsCont .project > .contentCont .content .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 5px;
}
#projectsCont .project > .contentCont .content .desc {
    font-size: 15px;
    color: #555;
    line-height: 1.2;
}
#projectsCont .project > .contentCont .btn {
    flex-shrink: 0;
}

#profile {
    display: flex;
    gap: 15px;
}
#profile .logo {
    width: 96px;
    height: 96px;
    border-radius: 50%;
    flex-shrink: 0;
    filter: drop-shadow(0px 4px 8px hsla(var(--bgHue), var(--bgSat), 40%, 30%));
}
#profile > .content {
    display: flex;
    flex-direction: column;
    gap: 6px;
}
#profile .basics {
    margin-bottom: 3px;
    display: flex;
    gap: 8px;
    flex-wrap: 1;
}
#profile .basics .name {
    font-weight: bold;
    font-size: 28px;
    color: hsl(var(--bgHue), var(--bgSat), 40%);
}
#profile .basics .age {
    font-weight: bold;
    font-size: 20px;
    color: #777;
    align-self: flex-end;
    margin-bottom: 2px;
}
#profile .detail {
    display: flex;
    gap: 5px;
    flex-wrap: 1;
}
#profile .detail .icon {
    margin-top: -5px;
    font-family: 'Material Symbols Outlined Rounded';
    font-size: 26px;
    color: #555;
    margin-right: 5px;
    user-select: none;
    flex-shrink: 0;
}
#profile .detail .content {
    line-height: 1.2;
}

#timelineCont {
    display: flex;
    flex-direction: column;
    margin-top: 60px;
}
#timelineCont .row {
    display: flex;
    gap: 10px;
    margin-top: -25px;
}
#timelineCont .row .branch {
    border: 2px solid #ccc;
    border-bottom: none;
    border-right: none;
    border-top-left-radius: 30px;
    width: 40px;
    flex-shrink: 0;
}
#timelineCont .row .content {
    margin-top: -8px;
    padding-bottom: 55px;
}
#timelineCont .row .content.last {
    padding-bottom: 15px;
}
#timelineCont .row .content .title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 8px;
}
#timelineCont .row .content .title .date {
    color: hsl(var(--bgHue), var(--bgSat), 30%);
}
#timelineCont .row .content .desc > * {
    font-size: 16px;
    color: #555;
    line-height: 1.2;
}

#accounts > .body {
    display: flex;
    flex-direction: column;
}
#accounts p {
    color: #555;
    text-align: center;
    max-width: 400px;
    align-self: center;
    margin-bottom: 5px;
    flex-shrink: 0;
}
#accountsCont {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px 25px;
    margin-bottom: 20px;
    flex-shrink: 0;
}
#accountsCont .account {
    display: flex;
    align-items: center;
    gap: 10px;
}
#accountsCont .account .logo {
    width: 24px;
    height: 24px;
    user-select: none;
}
#accountsCont .account .content {
    display: flex;
    gap: 15px;
    flex-grow: 1;
    align-items: center;
}
#accountsCont .account .content .text {
    flex-grow: 1;
}
#accountsCont .account .content .text .site {
    font-size: 14px;
    color: #555;
    margin-bottom: 2px;
}
#accountsCont .account .content .text .title {
    font-size: 18px;
    font-weight: bold;
}
#accountsCont .account .content .btn {
    padding: 0px 12px;
    padding-top: 2px;
}

@media (max-width: 680px) {
    #mainRow .navBtn {
        display: none;
    }
    #mobileNavRow {
        display: flex;
    }
    #accountsCont {
        grid-template-columns: auto;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    #profile {
        flex-direction: column;
    }
    #projectsCont {
        gap: 20px;
        margin-bottom: 30px;
    }
    #projectsCont .project > .contentCont {
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }
}

@media (max-width: 370px) {
    .subhead {
        font-size: 32px;
    }
    #name {
        font-size: 80px;
        margin-top: -5px;
        margin-bottom: 15px;
    }
}

.btn {
    height: 36px;
    padding: 0px 16px;
    padding-top: 2px;
    gap: 8px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(var(--bgHue), var(--bgSat), 90%);
    color: hsl(var(--bgHue), var(--bgSat), 30%);
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    border: none;
    outline: none;
    transition: 0.2s var(--bezier);
    user-select: none;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.btn > .icon {
    margin-top: -2px;
    font-family: 'Material Symbols Outlined Rounded';
    font-size: 20px;
}
.btn:hover {
    background: hsl(var(--bgHue), var(--bgSat), 85%);
    color: hsl(var(--bgHue), var(--bgSat), 20%);
    filter:
        drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.15));
}

/* Customize global scrollbar */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 90%);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
    background: hsl(var(--bgHue), var(--bgSat), 90%);
}

/* Customize selection highlight */
::selection {
    background: hsla(var(--bgHue), var(--bgSat), 50%, 0.2);
}